In [1]:
#Dependencies

import os
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
import time

In [2]:
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [3]:
#create chrome webpage that allows manipulation from jupyter notebook coding
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389

[WDM] - Driver [C:\Users\emjcr\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

# NASA Mars News

In [4]:
#url of news page to be scraped
news_url = 'https://mars.nasa.gov/news'

In [5]:
#retrieve page with the requests module
response = requests.get(news_url)

In [6]:
#Create BeautifulSoup object; parse with 'html.parser'
soup = bs(response.text, 'html.parser')

In [7]:
title = soup.title.text
print(title)

News  – NASA’s Mars Exploration Program

In [8]:
paragraphs = soup.find_all('a')

In [9]:
title = soup.find_all('div', class_='content_title')
nasa_title = title[0].text.strip()
nasa_title

"NASA's Perseverance Drives on Mars' Terrain for First Time"

In [10]:
para = soup.find_all('div', class_='rollover_description_inner')
nasa_paragraph = para[0].text.strip()
nasa_paragraph

'The first trek of the agency’s largest, most advanced rover yet on the Red Planet marks a major milestone before science operations get under way.'

# JPL Mars Space Images - Featured Image

In [11]:
#url of JPL Featured Space Image
url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html'
browser.visit(url)

In [12]:
html = browser.html
soup = bs(html,'html.parser')

In [13]:
images = soup.find_all('div', class_='floating_text_area')

In [14]:
for img in images:
    
    link = img.find('a')
    href = link['href']
    
    
    print( 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/' + href )

featured_image_url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/' + href

https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars2.jpg

In [15]:
browser.quit()

# Mars Facts

In [16]:
facts_url = 'https://space-facts.com/mars/'

In [17]:
tables = pd.read_html(facts_url, index_col=0)
tables

[                                                  1
 0
 Equatorial Diameter:                       6,792 km
 Polar Diameter:                            6,752 km
 Mass:                 6.39 × 10^23 kg (0.11 Earths)
 Moons:                          2 (Phobos & Deimos)
 Orbit Distance:            227,943,824 km (1.38 AU)
 Orbit Period:                  687 days (1.9 years)
 Surface Temperature:                   -87 to -5 °C
 First Record:                     2nd millennium BC
 Recorded By:                   Egyptian astronomers,
                                     Mars            Earth
 Mars - Earth Comparison
 Diameter:                       6,779 km        12,742 km
 Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
 Moons:                                 2                1
 Distance from Sun:        227,943,824 km   149,598,262 km
 Length of Year:           687 Earth days      365.24 days
 Temperature:                -87 to -5 °C      -88 to 58°C,
                                                   1
 0
 Equatorial Diameter:                       6,792 km
 Polar Diameter:                            6,752 km
 Mass:                 6.39 × 10^23 kg (0.11 Earths)
 Moons:                          2 (Phobos & Deimos)
 Orbit Distance:            227,943,824 km (1.38 AU)
 Orbit Period:                  687 days (1.9 years)
 Surface Temperature:                   -87 to -5 °C
 First Record:                     2nd millennium BC
 Recorded By:                   Egyptian astronomers]

In [18]:
df = tables[0]
df = df.rename(columns={1:'Mars'})
df

                                               Mars
0
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [19]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n    </tr>\n    <tr>\n      <th>0</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [20]:
clean_html_table = html_table.replace('\n', ' ')
clean_html_table

'<table border="1" class="dataframe">   <thead>     <tr style="text-align: right;">       <th></th>       <th>Mars</th>     </tr>     <tr>       <th>0</th>       <th></th>     </tr>   </thead>   <tbody>     <tr>       <th>Equatorial Diameter:</th>       <td>6,792 km</td>     </tr>     <tr>       <th>Polar Diameter:</th>       <td>6,752 km</td>     </tr>     <tr>       <th>Mass:</th>       <td>6.39 × 10^23 kg (0.11 Earths)</td>     </tr>     <tr>       <th>Moons:</th>       <td>2 (Phobos &amp; Deimos)</td>     </tr>     <tr>       <th>Orbit Distance:</th>       <td>227,943,824 km (1.38 AU)</td>     </tr>     <tr>       <th>Orbit Period:</th>       <td>687 days (1.9 years)</td>     </tr>     <tr>       <th>Surface Temperature:</th>       <td>-87 to -5 °C</td>     </tr>     <tr>       <th>First Record:</th>       <td>2nd millennium BC</td>     </tr>     <tr>       <th>Recorded By:</th>       <td>Egyptian astronomers</td>     </tr>   </tbody> </table>'

# Mars Hemispheres

In [21]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389
[WDM] - Driver [C:\Users\emjcr\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

In [22]:
hemi_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemi_url)

In [23]:
html = browser.html
soup = bs(html,'html.parser')

mars_hemis = []

In [24]:
# loop through the four tags and load the data to the dictionary

for i in range (4):
    time.sleep(5)
    images = browser.find_by_tag('h3')
    images[i].click()
    html = browser.html
    soup = bs(html, 'html.parser')
    partial = soup.find("img", class_="wide-image")["src"]
    img_title = soup.find("h2",class_="title").text
    img_url = 'https://astrogeology.usgs.gov'+ partial
    dictionary={"title":img_title,"img_url":img_url}
    mars_hemis.append(dictionary)
    browser.back()

In [25]:
print(mars_hemis)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [26]:
partial

'/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'

In [27]:
browser.quit()